.ui-btn {
    height: 54px;
    background-image: linear-gradient(to right, #5151FF, #F1F151, #5151FF, #F1F151);
    border-radius: 40px;
    border: none;
    padding: 0 2rem;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    transition: all .3s ease-in;
    background-size: 300% 100%;

    &:hover {
        background-position: 100% 0;
    }
}

.ui-btn-border {
    height: 54px;
    border-radius: 40px;
    padding: 0 2.1rem;
    background: linear-gradient(100.53deg, #5151FF 3.15%, #F1F151 102.51%);
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9;

    &::after {
        content: '';
        background-color: #20242D;
        position: absolute;
        padding: 2px;
        border-radius: 40px;
        inset: 2px;
        z-index: -9;
    }
}